.app{
    height: 100vh;
    background-image:  url("https://wallpaperaccess.com/full/5651999.jpg");
    background-size: auto;
   
    font-size:50px;
    background-repeat:no-repeat; 
    display: flex;
    .sections{
        width: 100%;
        height: calc(100vh - 70px);
       
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; // for fire fox
        &::-webkit-scrollbar{
            display: none; 
        }


        > *{
            width: 100vw;
            height:calc(100vh - 70px) ;
            scroll-snap-align: start;
        }
    }
}